body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 0px;
    padding-inline-start: 0px;
    align-items: center;
}

.navbar-links li {
    padding: auto 18px;
    margin: auto 10px;
    border-radius: 5px;
}

.navbar-links a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.navbar-search {
    flex-grow: 1;
    padding-left: 10px;
}

.finder {
    border-radius: 25px;
    width: 97%;
    height: 40px;
    padding: 0px 20px;
    background-color: #E9E9E9;
    border: #E9E9E9;
}

.navbar-profile {
    display: flex;
    gap: 20px;
}

.navbar-profile a img {
    height: 30px;
    padding: 5px;
}

.navbar-profile div:hover {
    background-color: grey;
    border-radius: 100px;
}

.content{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.row{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.cardimage{
    position: relative;
    display: inline-block;
}
.cardimage img{
    display: block;
    width: 90%;
    border-radius: 25px;
    margin: 10px;
    object-fit: cover;
    transition: filter 0.3s;
    
}
.cardimage button{
    position: absolute;
    top: 25px;
    left: 68%;
    height: 35px;
    width: 40%;
    transform: translateX(-50%);
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 25px;
    opacity: 0;
    transition: opacity 0.3s;
    cursor: pointer;
    font-weight: bold;
}

.cardimage:hover .boton {
    opacity: 1;
  }
.cardimage:hover img{
    filter: grayscale(100%);
    opacity: 0.2;
}

#title{
    font-size: large;
}

#navbar-pinterest {
    background-color: #fff;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%-20px;
    height: 60px;
    top: 0;
    z-index: 1000;
}

#pinterest-icon {
    height: 40px;
}
#btnInicio {
    border-radius: 25px;
    background-color: black;
    color: white;
    height: 48px;
    width: 70px;
    font-weight: bold;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
}

@media screen and (max-width: 768px) {
    .content{
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
    }
    .row{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }
    .row5{
        grid-column: 2/ span 2 ;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 430px) {
    .content{
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
    }
    .row{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }
    #notifications{
        display: none;
    }
    #message{
        display: none;
    }
    .nav-link{
        display: none;
    }
    .row5{
        grid-column: 1/ span 2 ;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}